{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="flex justify-center items-start w-full-px-4mt-10">
  <img
    src="{{ url_for('static', filename='images/profile_picture.jpg') }}?v=1"
    alt="Profile Photo"
    class="w-32 h-32 rounded-full object-cover border-4 border-pink-200 shadow mx-auto mb-4"
/>
  <div class ="bg-white p-6 rounded shadow w-full max-w-lg">
    <h1 class="text-2xl font-semibold text-pink-600 text-center mb-3">About Me</h1>
  {% if author %}
    <p class="mb-3">Hello! My name is <span class ="font-semibold">{{ author }}</span>.
      I am a {{occupation}} and am {{age}} years old. </p>
  {% else %}
    <p class = "italic-text-gray-500 mb-3">Name not provided.</p>
  {% endif %}

  <p class="mb-4">This year, I learned some basic coding and am starting to learn how to build websites. 
    I am super interested in experimenting with different web technologies to see what I can create!
  </p>
    <h2 class="font semibold mb-2 text-pink-600"></h2>Here are things I like about tech and CompSci:</h3>
    <ul class="italic-text-gray-500 list-disc list-inside mb-4">
      {% for item in interests %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}