<!DOCTYPE html>
<html>
<!-- Head tag contains metadata. Things that we don't see in the program like CSS links, Javascript imports if needed-->
<head>
    <meta charset="utf-8">
    <title>{% block title %}My Page{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<!-- Body tag opens the main visible part of the webpage. Everything shown in the browser window lives inside here.-->
<body class="min-h-screen bg-pink-100 text-gray-900 flex flex-col">
    
    <nav class="flex justify-around items-center p-4 bg-pink-300 text-white shadow">
      <a href="/" class="hover:text-pink-700 font-semibold">Home</a>
      <a href="/about" class="hover:text-pink-700 font-semibold">About</a>
      <a href="/contact" class="hover:text-pink-700 font-semibold">Contact</a>
    </nav>

  <main class="flex justify-center py-10">
    <div class="bg-white p-6 rounded shadow w-full max-w-lg">
      {% block content %}{% endblock %}
    </div>
  </main>
</body>
</html>
