{% extends 'base.html' %} <!-- We want it to base template but to populate info for home page inside -->
{% block title %} Home {% endblock %} <!-- inside of the title block, insert 'Home' -->
{% block content %} <!-- inside of the block content, insert 'Welcome to the Flask Jinja2 application' -->
<div class=""flex flex-col items-center justify-center mt-10 bg-pink-100 p-6 rounded-lg shadow-lg"></div>>
<h1>Welcome to the Flask UI App!</h1>
    <p>My name is Grace</p>
    <p> Let's style our page!</p>>
</div>
{% endblock %}